<header><h1>Hello, I'm James.</h1></header>

<p class="lead">I'm a 30 year old front-end engineer & interactive developer living in Calgary, Alberta.
I've been building things on the internet since 2002 and find my work to be extremely rewarding.
I have a dog, a wife, and a baby on the way!
<a class="internal" href="/about">Learn more about who I am.</a>
</p>