<header><h1>Hello, I'm James.</h1></header>

<p class="lead">I'm a front-end engineer & interactive developer living in Calgary, Alberta.
I've been building things on the internet since 2002 and would never considering doing anyting else.
<a class="internal" href="/about">Learn more about me.</a>
</p>