<header><h1>Want to work together?</h1></header>

<p class="lead">Do you have an interesting project you need some help with? I'd love to get involved. Lets get in touch!
</br> <a class="internal" href="/contact">Learn how to reach me.</a>
</p>