<header><h1>So, get to know me better!</h1></header>

<p class="lead">
Do you want to get to know me a bit better,
or have a role that needs to be filled,
talk about development,
or have an interesting project you need <br/> some help with,
I would love to hear from you.

</br> <a class="internal" href="/contact">Here is how to find me.</a>
</p>