<div class="background-pattern"></div>

<section class="container section-container">

    <div class="content-blocks">

        <div class="content-block clearfix">
            <header><h1>Hello, I'm James.</h1></header>
            <p class="lead">I'm a front-end engineer & interactive developer living in Calgary, Alberta.
                I've been building things on the internet since 2002 and would never considering doing anyting else.
                <a class="internal" href="/about">Learn more about me.</a>
            </p>

            <ul class="pager-hex">
                <li><a class="internal" href="/home/about">1</a></li>
                <li><a class="internal" href="/home/skills">2</a></li>
                <li><a class="internal" href="/home/work">3</a></li>
                <li><a class="internal" href="/home/play">4</a></li>
                <li><a class="internal" href="/home/contact">5</a></li>
            </ul>

        </div>

    </div>

<section>