<header><h1>But I like to try new things.</h1></header>

<p class="lead">Our industry is constantly in flux and
being proficient in emerging practices and technologies is tremendously important.
It can be difficult to integrate bleeding edge technology
into commissioned projects.    <br/>
<a class="internal" href="/play">Learn how I use my freetime for continued advancement.</a>
</p>