<header><h1>I love the internet.</h1></header>

<p class="lead">I excel at building rich interactive experiences that live in the browser.
I'm a full stack developer, but am really passionate about emerging frontend technology.
<a class="internal" href="/skills">Learn more about what I can do.</a>
</p>