<header><h1>I make things for money.</h1></header>

<p class="lead">I've been lucky enough to work with some really amazing people over the years on some pretty cool projects.  </br>
<a class="internal" href="/skills">Check out some of the work I've done.</a>
</p>