<header><h1>And I make things for money.</h1></header>

<p class="lead">In a variety of roles I've been lucky enough to
work with really amazing teams on some great projects.
As both a freelancer and employee I've had a broad range of experience working on projects
from concept to deployment.
<a class="internal" href="/skills">Check out some of the work I've done.</a>
</p>