<div class="background-pattern"></div>

<section class="container section-container">

<div class="content-blocks">

    <div class="content-block about-content-block clearfix">

        <div class="list-hex-grid small clearfix">

            <div class="hex">
                <a class="internal" style="background-image: url('/images/home/about.jpg');"  href="/about/bio">
                    <div class="teaser">Bio</div>
                    <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
                    <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
                    <span class="after" style="opacity: 0;"></span>
                </a>
            </div>

            <div class="hex">
                <a class="internal" style="background-image: url('/images/home/about.jpg');"  href="/about/experience">
                    <div class="teaser">Experience</div>
                    <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
                    <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
                    <span class="after" style="opacity: 0;"></span>
                </a>
            </div>

            <div class="hex" >
                <a class="internal" style="background-image: url('/images/home/skills.jpg');" href="/about/interests">
                    <div class="teaser">Interests</div>
                    <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
                    <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
                    <span class="after" style="opacity: 0;"></span>
                </a>
            </div>

        </div>

        <div class="content-tab-placeholder">

        </div>

    </div>

</div>

<section>