<div class="background-pattern"></div>

<section class="container section-container">

<div class="content-blocks">

    <div class="content-block skills-content-block clearfix">

        <div class="content-tab-placeholder">

        </div>

        <div class="list-hex-grid small clearfix">

            <div class="hex">
                <a class="internal" style="background-image: url('/images/home/about.jpg');"  href="/home/about">
                    <div class="teaser">Server Side</div>
                    <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
                    <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
                    <span class="after" style="opacity: 0;"></span>
                </a>
            </div>

        </div>

        <div class="list-hex-grid small clearfix">

            <div class="hex">
                <a class="internal" style="background-image: url('/images/home/about.jpg');"  href="/home/about">
                    <div class="teaser">Client Side</div>
                    <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
                    <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
                    <span class="after" style="opacity: 0;"></span>
                </a>
            </div>

            <div class="hex" >
                <a class="internal" style="background-image: url('/images/home/skills.jpg');" href="/home/skills">
                    <div class="teaser">UI/UX/Design</div>
                    <div class="hex-1"><span class="after" style="opacity: 0;"></span></div>
                    <div class="hex-2"><span class="after" style="opacity: 0;"></span></div>
                    <span class="after" style="opacity: 0;"></span>
                </a>
            </div>

        </div>



    </div>

</div>

<section>